footer {
  padding: 1rem;
  background-color: #FF6F61;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0; /* Removes the default margin */
  line-height: 1.2; /* Adjusts the space between lines */
}

footer div {
  margin: 0; /* If you're using a <div> */
  line-height: 1.2;
}
